html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: var(--natural-00);
	color: var(--natural-90);
	transition: all .6s;
	margin:0;
	padding:0;
}

img {
	max-width: 100%;
}

// CONTAINER SETUP

.container {
    width: 100%;
    margin: 0 auto;
    padding: var(--spacing-1x);
}

@media (min-width: 768px) {
	.container {
		width: 94%;
	}
}

@media (min-width: 1536px) {
	.container {
		width: 1504px;
	}
}
