.content-box, .post-title {
	width: 40rem;
	margin: 0 auto;

	a:not(.button), a:not(.navItem) {
		color: var(--primary-light);
		 transition: all .2s;
		&:hover {
			color: var(--primary-lighter);
		}
	}	
}

.post-title {
	padding-top: var(--spacing-3x);
	padding-bottom: var(--spacing-0-75);
	margin-bottom: var(--spacing-2x-25);
	border-bottom: 1px solid var(--natural-20);
}
