body {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.5;
}

p {margin-bottom: 1.333em;}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  font-family: var(--font-secondary);
  font-weight: 600;
  line-height: 1.15;
  margin: var(--spacing-2x-75) 0 var(--spacing-1x);
}

h1, .h1 {
  margin-top: 0;
  font-size: var(--text-4x);
}

h2, .h2 {font-size: var(--text-3x);}

h3, .h3 {font-size: var(--text-2x-5);}

h4, .h4 {font-size: var(--text-1x-75);}

h5, .h5 {font-size: var(--text-1x-25);}

small {font-size: var(--text-0-75);}

strong {font-weight: 600;}

blockquote {
  border-left: 4px solid var(--natural-50);
  padding-left: var(--spacing-1x);
}

em {
  font-style: italic;
}

ul { 
  list-style-type: disc; 
  margin-left: 1.25em;
  margin-bottom: 1.25em;

  li {
    margin-bottom: .6em;
  }
}
ol { 
  list-style-type: decimal; 
  margin-left: 1.25em;
  margin-bottom: 1.25em;

  li {
    margin-bottom: .6em;
  }
}




@media (min-width: 320px) {}
@media (min-width: 481px) {}
@media (min-width: 768px) {}
@media (min-width: 1025px) {}
@media (min-width: 1281px) {}
@media (min-width: 1366px) {}
@media (min-width: 1440px) {}
@media (min-width: 1536px) {}






