html {
    font-size: 19px;
}

:root {

    --text-0-25:	    0.25rem;	    //4
    --text-0-5:	        0.5rem;	        //8
    --text-0-75:        0.75rem;	    //12
    --text-1x:	        1rem;  	        //16
    --text-1x-25:	    1.25rem;	    //20
    --text-1x-5:	    1.5rem;	        //24
    --text-1x-75:	    1.75rem;	    //28
    --text-2x:	        2rem;  	        //32
    --text-2x-5:	    2.5rem;  	    //40
    --text-3x:	        3rem;  	        //48
    --text-3x-5:	    3.5rem;  	        //48
    --text-4x:	        4rem;           //64  	
    --text-5x:	        5rem;  	        //80
    --text-5x-5:	    5.5rem;  	        //80
    --text-6x:	        6rem;  	        //96
    --text-6x-5:	    6.5rem;  	    //104
    
    --spacing-0-25:	    0.25rem;	
    --spacing-0-5:	    0.5rem;	
    --spacing-0-75:     0.75rem;	
    --spacing-1x:	    1rem;  	
    --spacing-1x-25:	1.25rem;	
    --spacing-1x-5:	    1.5rem;	
    --spacing-1x-75:	1.75rem;	
    --spacing-2x:       2rem;  	
    --spacing-2x-25:	    2.25rem;
    --spacing-2x-5:	    2.5rem;
    --spacing-2x-75:	2.75rem;
    --spacing-3x:	    3rem;
    
    --layout-1x:	    1rem;	
    --layout-1x-5:	    1.5rem;
    --layout-2x:	    2rem;
    --layout-3x:	    3rem;
    --layout-4x:	    4rem;
    --layout-6x:	    6rem;
    --layout-10x:       10rem;

    --primary:          #005C69;
    --primary-light:    #408E8F;
    --primary-lighter:  #80B4B3;

    --natural-00:       #FFFFFF;
    --natural-10:       #F5F6F7;
    --natural-20:       #D0D2D8;
    --natural-30:       #ABAEB9;
    --natural-40:       #858B9B;
    --natural-50:       #60677C;
    --natural-60:       #3B445D;
    --natural-70:       #2C3651;
    --natural-80:       #16203E;
    --natural-90:       #071232;

    --font-primary:     'Roboto', sans-serif;
    --font-secondary:   'Bitter', serif;
    --font-mono:        'Roboto Mono', monospace;
}



/*

0.75	Plex 12
0.875	Plex 14
1	    Plex 16
1.125	Plex 18
1.25	Plex 20
1.5	    Plex 24
1.75	Plex 28
2	    Plex 32
2.25	Plex 36
2.625	Plex 42
3	    Plex 48
3.375	Plex 54
3.75	Plex 60
4.25	Plex 68
4.75	Plex 76
5.25	Plex 84
5.75	Plex 92


@media (min-width: 320px) and (max-width: 480px) {}
@media (min-width: 481px) and (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 1024px) {}
@media (min-width: 1025px) and (max-width: 1280px) {}
@media (min-width: 1281px) {}
@media (min-width: 1366px) {}
@media (min-width: 1440px) {}
@media (min-width: 1536px) {}

*/